<h1>About ngSpotify</h1>
<h3>Version: 2.4.1</h3>
<p>ngSpotify Version 2.4.1 has been updated to Angular 14. With additional UI styling improvements.</p>
<p>The Spotify Web API went private in 2016. Since then user tokens expire every hour. User tokens will auto-renew.</p>
<p>
  Search for bands by name, or for musicians by name.
  <br />
  Tap/click the query list to display artist and albums, Level 2.
  <br />
  Tap/click "Album Details" for Level 3, track listings and audio previews.
</p>
<p>
  Enjoy!
</p>
