<h1>About ngSpotify</h1>
<h3>Version: 2.8.1</h3>
<p>ngSpotify Version 2.8.1 has been updated to
  <br>
  Angular Version 18.</p>
<p>With additional UI styling improvements.</p>

<p>The Spotify Web API went private in 2016.
  <br>
  Since then API user tokens expire every hour.
  <br>
  ngSpotify&apos;s user tokens auto-renew.</p>
<p>
  Search for bands by name, or for musicians by name.
  <br />
  Tap/click the query list to display artist and albums, Level 2.
  <br />
  Tap/click &quot;Album Details&quot; for Level 3, track listings and audio previews.
</p>
<p>
  Enjoy!
</p>
