

 .navbar .navbar-brand { color: #1fbb56; font-size: 1.5em; }

 .navbar .navbar-brand:hover { color: #aae2b8; }
 
 .navbar-dark .navbar-nav a.nav-link { display: block; color: #f4f8f5 !important; font-size: 1.2em; width: 56px; padding: 4px 0 3px 6px !important; margin: 1px 5px 0; }

 .navbar-dark .navbar-nav a.nav-link:hover { color: #aae2b8 !important; }

 